<head>
    <title>{% block 'title' %} Scattergun {% endblock %}</title>
    {% load staticfiles %}
    <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    {% block 'head' %} {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
    {% block "body" %}
    {% endblock %}
    </div>
</body>
<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
{% block 'footer' %}
{% endblock %}
