{% extends "base.html" %}
{% block "body" %}
<div class="row">
    <div class="twelve columns">
    Scattergun is a scouting platform.
    </div>
</div>
<hr />
<div class="row">
    <div class="four columns">
        <h5>Team Management</h5>
        <ul>
            <li><a href="{% url 'scattergun-team-list' %}">List of teams in the database</a></li>
            <li><a href="{% url 'scattergun-team-add' %}">Add a new team to the database</a></li>
        </ul>
    </div>
    <div class="four columns">
        <h5>Report Management</h5>
        <ul>
            <li>List of reports in the database</li>
            <li>Add a new report to the database</li>
        </ul>
    </div>
    <div class="four columns">
        <h5>User Management</h5>
        <ul>
            <li>List of users in the database</li>
            <li>Add a new use to the database                                </li>
        </ul>
    </div>
</div>
<hr />
<div class="row">
    Currently tracking:
</div>
{% endblock %}