{% extends "base.html" %}

{% block "body" %}

<div class="row">
    <div class="col-md-12">
        <h1>Team #{{ team.number }}: {{ team.name }} <small><a href="https://www.thebluealliance.com/team/{{ team.number }}" target="_blank">The Blue Alliance</a></small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">Round reports for this team</div>
            <div class="panel-body">
                <ul>
                    {% for report in reports %}
                    <li><a href="#">{{ report.friendly_alliance_score }}:{{ report.enemy_alliance_score }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading"><em>{{ team.name }}</em> at a glance...
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tr>
                    <td>Things Drive Team Can Do Well</td>
                    <td>{{ team.things_driveteam_can_do_well }}</td>
                </tr>
                <tr>
                    <td>Drive Team Personality Compatibility</td>
                    <td>{{ team.drive_team_personality_compatibility }}</td>
                </tr>
                <tr>
                    <td>Robot Height in Inches</td>
                    <td>{{ team.robot_height_in_inches }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}