{% extends "base.html" %}
{% block 'title' %} Team #{{ team.number }}: {{ team.name }} {% endblock %}
{% block 'head' %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bower_components/chartist/dist/chartist.min.css' %}" type="text/css"/>
    <script src="{% static 'bower_components/chartist/dist/chartist.min.js' %}"></script>
{% endblock %}

{% block "body" %}

<div class="row">
    <div class="col-md-12">
        <h1>Team #{{ team.number }}: {{ team.name }} <small><a href="https://www.thebluealliance.com/team/{{ team.number }}" target="_blank">The Blue Alliance</a></small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">Round reports for this team</div>
            <div class="panel-body">
                <ul>
                    {% for report in reports %}
                    <li><a href="{% url 'scattergun-roundreport-show' report=report.pk %}">{{ report }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading"><em>{{ team.name }}</em> at a glance...
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tr>
                    <td>Things Drive Team Can Do Well</td>
                    <td>{{ team.things_driveteam_can_do_well }}</td>
                </tr>
                <tr>
                    <td>Drive Team Personality Compatibility</td>
                    <td>{{ team.drive_team_personality_compatibility }}</td>
                </tr>
                <tr>
                    <td>Robot Height in Inches</td>
                    <td>{{ team.robot_height_in_inches }}</td>
                </tr>
                <tr>
                    <td>Average Alliance Score</td>
                    <td>{{ team.get_average_score }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#combined" aria_controls="combined" data-toggle="tab">Combined</a></li>
        <li role="presentation"><a href="#points" aria_controls="points" data-toggle="tab">Points</a></li>
        <li role="presentation"><a href="#boulders" aria_controls="boulders" data-toggle="tab">Boulders</a></li>
        <li role="presentation"><a href="#tower-climbing" aria_controls="tower-climbing" data-toggle="tab">Tower Climbing</a></li>
        <li role="presentation"><a href="#penalties" aria_controls="penalties" data-toggle="tab">Penalties</a></li>
        <li role="presentation"><a href="#performance" aria_controls="performance" data-toggle="tab">Performance Rating</a></li>
        <li role="presentation"><a href="#comments" aria_controls="comments" data-toggle="tab">Tech Issue Comments</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="combined">
        </div>
        <div role="tabpanel" class="tab-pane active" id="points">
            <div class='ct-chart ct-pefect-fourth' id='points'></div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="boulders">
            <div class='ct-chart ct-pefect-fourth' id='boulders'></div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="tower-climbing">
        </div>
        <div role="tabpanel" class="tab-pane active" id="penalties">
            <div class='ct-chart ct-pefect-fourth' id='penalties'></div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="performance">
            <div class='ct-chart ct-pefect-fourth' id='performance'></div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="comments">
            {% for comment in comments %}
            <div class = "well">
                {{ comment }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block 'footer' %}
<script>
    $(function(){
        {% include 'graph.js' with dataname="points" datasets=pointsdataset only%}
    });
</script>
{% endblock %}
